@media (max-width: 767px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: white;
        box-shadow: 0 0 5px lightgray;
        z-index: 1000;
    }
    .Personal {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }
    .P-fotoDani {
        width: 85%;
        border-radius: 5px;;
    }
    .P-Informacion {
        width: 85%;
    }
    .P-nombre {
        font-weight: 400;
        font-family: sans-serif;
        font-size: 2.5rem;
        margin: 0;
        margin-top: 10px;
    }
    .P-titulo {
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }
    .P-description {
        width: 80%;
        margin: 0;
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 0.7rem;
    }
    .Proyectos {
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 10%;
    }
    .PR-nombre {
        color: white;
        text-align: start;
        width: 85%;
        padding: 30px;
        padding-left: 0;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 50px;
    }
    .Ameno {
        width: 85%;
        box-shadow: 0 0 3px rgb(115, 115, 115);
    }
    .PR-informacion {
        padding: 5%;
        padding-top: 0;
        width: 100%;
    }
    .PR-proyecto-nombre {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
    .PR-linea {
        height: 2px;
        width: 100%;
        background-color: white;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .PR-proyecto-descripcion {
        color: white;
        width: 90%;
        font-size: 0.7rem;
    }
    .PR-tegnologias {
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 5px;
    }
    .PR-tecnologia {
        font-size: 0.7rem;
        font-weight: bold;
        border-radius: 2px;
        margin-right: 5px;
        color: white;
        text-align: center;
        margin-bottom: 5px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .js { background-color: #F5DE19;}
    .html { background-color: #EF652A;}
    .css { background-color: #33A9DC;}
    .git { background-color: #F05133; } 
    .postman { background-color: #FD6C35;} 
    .react { background-color: #61DAFB;}
    .php { background-color: #777BB3; }
    .gitlab { background-color: #FC6D26;}
    .mysql { background-color: #00678C;}
    .bootstrap { background-color: #7811F8;}
    .vsc {background-color: #22A4F1;}
    
    .Habilidades {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 20%;
        gap: 40px;
    }
    .HA-card {
        width: 70%;
        height: 60vh;
        perspective: 1000px;
    }
    
    .HA-card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        will-change: transform;
    }
    
    .HA-card.flip .HA-card-inner {
        transform: rotateY(180deg);
    }
    
    .HA-card-front,
    .HA-card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 0 5px gray;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        flex-direction: column;
    }
    
    .HA-card-back {
        background: white;
        transform: rotateY(180deg) translateZ(1px);
    }
    














    .footer {
        width: 100%;
        height: 20vh;
        background-color: black;
    }
}
