@media (max-width: 767px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: white;
        box-shadow: 0 0 5px lightgray;
        z-index: 1000; 
    }
    .Personal {
        margin-top: 5%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .P-fotoDani {
        width: 85%;
        border-radius: 5px;;
    }
    .P-Informacion {
        width: 85%;
    }
    .P-nombre {
        font-weight: 400;
        font-family: sans-serif;
        font-size: 70px;
        margin: 0;
        margin-top: 10px;
    }
    .P-titulo {
        margin: 0;
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 100;
    }
    .P-description {
        width: 60%;
        margin: 0;
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 15px;
    }
    .Proyectos {
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 10%;
    }
    .PR-nombre {
        color: white;
        text-align: start;
        width: 85%;
        padding: 30px;
        padding-left: 0;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 50px;
    }
    .Ameno {
        width: 85%;
        box-shadow: 0 0 3px rgb(115, 115, 115);
    }
    .PR-carousel {
        height: 300px;
        margin-bottom: 5%;
    }
    .PR-informacion {
        margin-top: 2%;
        padding: 30px;
        padding-top: 0;
        width: 100%;
    }
    .PR-proyecto-nombre {
        color: white;
        font-size: 45px;
        font-weight: bold;
    }
    .PR-linea {
        height: 2px;
        width: 100%;
        background-color: white;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .PR-proyecto-descripcion {
        color: white;
        width: 90%;
        font-size: 20px;
    }
    .PR-tegnologias {
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 5px;
    }
    .PR-tecnologia {
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 5px;
        color: white;
        text-align: center;
        width: 80px;
        margin-bottom: 5px;
    }
    .js { background-color: #F5DE19; width: 150px;}
    .html { background-color: #EF652A;}
    .css { background-color: #33A9DC;}
    .git { background-color: #F05133; } 
    .postman { background-color: #FD6C35; width: 130px;} 
    .react { background-color: #61DAFB; color: white; }
    .php { background-color: #777BB3; }
    .gitlab { background-color: #FC6D26; width: 110px;}
    .mysql { background-color: #00678C; width: 120px;}
    .bootstrap { background-color: #7811F8; width: 130px;}
    .vsc {background-color: #22A4F1; width: 250px;}
    
    .Habilidades {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 20%;
        gap: 40px;
    }
    .HA-card {
        width: 70%;
        height: 700px;
        perspective: 1000px;
    }
    
    .HA-card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        will-change: transform;
    }
    
    .HA-card.flip .HA-card-inner {
        transform: rotateY(180deg);
    }
    
    .HA-card-front,
    .HA-card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 0 5px gray;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        flex-direction: column;
    }
    
    .HA-card-back {
        background: white;
        transform: rotateY(180deg) translateZ(1px);
    }
    














    .footer {
        width: 100%;
        height: 20vh;
        background-color: black;
    }
}
